body {
    background-color: #fff;
}

.promo-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

.promo-badge {
    background: #fce4ec;
    color: #c62828;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
}

.food-img {
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 15);
    width: 100%;
}

.btn-spacing {
    margin-right: 10px;
}